<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load staticfiles %}
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"  media="screen">

<html lang="en">
<head>
	{% block header %}{% endblock %}
</head>

<style>
	.jumbotron{
		color:rgb(0,0,255);
	}
	.navbar-nav li a {
 		line-height: 48px;
	}

	.iconright{
		width:auto;
		height:40px;
		padding-right:20px;
		margin-bottom:0px;
	}

	.rightbar{
		padding-right:20px;
	}

	.userinfo{
		line-height:79px;
		font-size:15px;
		color:rgb(255,255,255);
		margin-bottom:0px;
	}

	body{
		background-color:#16a085;
	}

	.whiteblock{
		margin-left:150px;
		margin-right:150px;
		background-color:#FFFFFF;
	}
	
	a {
		text-decoration:none;
	}

</style>

<body style="overflow-x:hidden;">
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a href="">
				<p style="font-size:40px;padding-top:8px;padding-left:5px" class="text-primary">p's micro Blog</p>
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="{% url 'writepost' %}">Write Posts</a></li>
			<li><a href="{% url 'readpost' %}">Read Posts</a></li>
			<li><a href="{% url 'readpost' %}">Read Posts</a></li>
		</ul>
		<ul class="nav navbar-right navbar-nav rightbar">
			{% if user.is_authenticated %}
			<li><p class="userinfo">Logged in as {{ user.username }}</p></li> <!-- django variable is accessible this way-->
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>
